*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#maine{
    width: 70vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 33%;
    background-color: red;
    border-radius: 10px;

}
#contDown{
    width: 80%;
    height: 80%;
    background-color: #ccc;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.time{
    margin-top: 30%;
    font-size: 30px;
    color:black;
}